 <link href="Bootstrap/css/Login.css" rel="stylesheet" />

    <body class="body">
      
        <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
		<img src="Logo.png" class="logo"/>
            <div class="row">
			<div class="col-md-6">
			<div class="modal-dialog left">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h1 class="text-center">Login</h1>
                    </div>
                    <div class="modal-body">
                        <form method="post" class="form col-md-12 center-block">
                            <div class="form-group">
                                <input type="text" class="form-control input-lg" name="in_email" placeholder="Email" value="TEST">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control input-lg" name="in_password" placeholder="Password" value="TEST">
                            </div>
                            <div class="form-group">
                                <button name="sign_in_button" class="btn btn-primary btn-lg btn-block">Sign In</button>
                                <a href="?do=register"  class="btn btn-success btn-lg btn-block">Register</a>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <div class="col-md-12">
                            <br />
                            <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
			</div>
			</div>
        </div>
		<div class="holdit" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="row top">
				<div class="col-md-6"></div>
				<div class="col-md-6">
					<h1>Join iReview</h1>
				</div>
			</div>
			<div class="row right">
			<div class="col-md-3"></div>
			<div class="col-md-9">
				<p style="color:white">Join iReview and learn a lot in just an hour! Participate in group discussions or take the quiz.</p>
				<center><h2>Study faster and smarter, </br>Be a better student</h2></center>
			</div>
			</div>
		</div>
    </body>


